<div class="row text-center">
  <div id="user-sign-up-chart" data-chart="<%= @user_sign_up_chart_data %>"
    class="col-md-6 dashboard-chart"></div>
  <div id="new-course-chart" data-chart="<%= @new_course_chart_data %>"
    class="col-md-6 dashboard-chart"></div>
  <div id="finished-course-chart" data-chart="<%= @finished_course_chart_data %>"
    class="col-md-6 dashboard-chart"></div>
</div>
