<li>
  <div class="media">
    <div class="media-left pull-left">
      <%= link_to avatar_user_tag(current_user, "img-circle", Settings.image_size_30), "#" %>
    </div>
    <div class="media-body">
      <div class="media-heading">
        <span><strong><%= link_to "name", "#" %></strong></span>
        <span class="pull-right"><small><%= l Date.today, format: :default %></small></span>
      </div>
      <div class="chat-content">
        Chat Content
      </div>
    </div>
  </div>
</li>
