<div class="progress">
  <div class="progress-bar progress-bar-striped active
    <%= progressbar_color percent if percent %>"
    role="progressbar" aria-valuemin="0" aria-valuemax="100"
    style="width:<%= percentage_format percent %>">
    <%= percentage_format percent %>
  </div>
</div>
