<div id="organization-chart">
  <div id="user-structure">
    <div class="structure-content">
      <%= render partial: "location", collection: @locations, as: :location %>
    </div>
  </div>
</div>
