<% unless @user_subject.init? %>
  <div id="user-subjects-charts"
    data-user-name="<%= @user_tasks_chart_data.keys %>"
    data-total-number-tasks="<%= @user_tasks_chart_data.values %>">
  </div>
<% end %>
